.info-section {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.info-header {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #1d1c1c;
}

.info-description-container {
  width: 100%; 
  margin: 0px;
}

.info-description {
  font-size: 1.2rem;
  color: #333;
}

#knowmore {
  margin-top: 10px;
}