@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Inter', serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #363535;
  padding: 0px 15px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', serif; /* Apply font to the header specifically */
  margin-bottom: 0;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-left: 200px;
}

.logo img {
  height: 150px;
  margin-right: 5px;
}

.logo-text {
  font-family: 'Montserrat', serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 650;
  padding-left: 5px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding-right: 150px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link.active {
  border-bottom: 2px solid #578d57;
}

.nav-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #75b875;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    padding-right: 0;
  }

  .nav-link {
    margin: 10px 0;
  }
}
